<section class="page">
    <div class="page__body">
        <header class="header">
            <div routerLink="" class="header__img-box">
                <img src="assets/img/logo-purple-dark.svg" alt="icon">
            </div>
            <app-primary-button routerLink="/create-question" [btnText]="'Create survey'" [withIcon]="{'isWithIcon': true, 'icon': '⊕', 'iconWidth':24}" class="header__button"></app-primary-button>
        </header>

        <section class="section">
            <div class="section__loading-window" [class.section__loading-window--hidden]="loadingWindowHidden"></div>
            <article class="section__left">
                <div class="section__left__header">
                    <app-survey-status [statusText]="'Published'"></app-survey-status>
                    <app-secondary-button routerLink="" [btnText]="''" [withoutSpan]="true" [withImg]="true" [bgColorType]="'secondary'" [imgUrl]="'assets/img/x-view-survey.svg'" class="section__left__header__btn"></app-secondary-button>
                </div>
                <div class="section__left__info">
                    <div class="section__left__info__spans">
                        <span class="section__left__info__spans__span">Ends on {{currentQuesten().endDate}}</span>
                        <span class="section__left__info__spans__span">Category: {{currentQuesten().category}}</span>
                    </div>
                    <h1 class="section__left__info__h1">{{currentQuesten().name}}</h1>
                    <span class="section__left__info__span">{{currentQuesten().description}}</span>
                </div>
                <div class="section__left__questions">
                    @for (item of currentQuesten().questions; track item.id) {
                        <app-question (errorCheckingOutput)="checkHasQuestionAnyAnswered()" [questionAnswersView]="questionAnswersView($index)" [class.section__left__questions__question--error]="hasQuestionAnyAnswered($index)" [question]="item" [questionNumber]="$index + 1" class="section__left__questions__question"></app-question>
                    }
                </div>

                <div class="section__left__footer">
                    @if(!isPlaceholder() && !isEndDateExceeded() && !isSurveySubmitted){
                        <app-secondary-button (click)="surveySubmitted()" class="section__left__footer__btn" [btnText]="'Complete survey'" [secondColor]="true"></app-secondary-button>
                    }
                    @if(isPlaceholder() || isEndDateExceeded() || isSurveySubmitted) {
                        <div class="section__left__footer__btn-disable-body">
                            <app-secondary-button class="section__left__footer__btn" [btnText]="'Complete survey'" [secondColor]="true"></app-secondary-button>
                            <div class="section__left__footer__btn-disable-body__box"></div>
                            <div class="section__left__footer__btn-disable-body__message-box">
                                @if(isEndDateExceeded() && !isPlaceholder()){
                                    <span class="section__left__footer__btn-disable-body__message-box__span">This survey has ended and cannot be submitted.</span>
                                }
                                
                                @else if(isSurveySubmitted){
                                    <span class="section__left__footer__btn-disable-body__message-box__span">This survey has already been submitted.</span>
                                }
                                
                                @else{
                                    <span class="section__left__footer__btn-disable-body__message-box__span">This is just an example and cannot be submitted.</span>
                                }
                            </div>
                        </div>
                    }
    
                    <span [class.section__left__footer__error-message--show]="answersCheckList().controls.some(item => item.get('hasQuestionAnyAnswered')?.value == false)" class="section__left__footer__error-message">*At least one answer must be selected</span>
                </div>
                        <div [class.overlay--show]="showOverlay()" class="overlay">
                            <span class="overlay__span">Survey has been submitted.</span>
                        </div>
            </article>

            <article #results class="section__mobile">
                <div (click)="openClose()" class="section__mobile__button">
                    <div [class.section__mobile__button__empty-box--close]="isCloseResultsBox" class="section__mobile__button__empty-box"></div>
                    <span [class.section__mobile__button__span--see]="!isCloseResultsBox" class="section__mobile__button__span">See results</span>
                    <span [class.section__mobile__button__span--close]="isCloseResultsBox" class="section__mobile__button__span">Close results</span>
                    <div [class.section__mobile__button__img--close]="isCloseResultsBox" class="section__mobile__button__img"></div>
                </div>
            </article>
                
            <article [class.section__right--clsoe]="isCloseResultsBox" class="section__right">
                <h1 class="section__right__h1">Survey results <span class="section__right__h1__span">LIVE</span></h1>
                @if(isAlreadyVotes || svService.isAlreadyVotes() || isEndDateExceeded()){
                    <div class="section__right__results-box">
                        @for (item of currentQuesten().questions; track $index) {
                            <app-results [question]="item" [questionNumber]="$index + 1"></app-results>
                        }
                    </div>
                }
                @else{
                    <div class="section__right__spans">
                        <span class="section__right__spans__span">Results will be shown here after participants complete the survey.</span>
                        <span class="section__right__spans__span section__right__spans__span--al-se-ce">There are no answears yet.</span>
                    </div>
                }
            </article>
        </section>
    </div>
</section>