@use '../../shared/styles/abstracts/mixins';

.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    position: relative;

    &__body{
        width: 100%;
        max-width: 1440px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        padding: 72px clamp(8px, calc(100vw - 691px), 109px);
        padding-bottom: 124px;
    }
}

.header{
    display: flex;
    width: 100%;
    justify-content: space-between;

    &__img-box{
        cursor: pointer;
    }

    &__button{
        @media (max-width:900px){
            display: none;
        }
    }
}

.section{
    display: flex;
    flex-direction: row;
    gap: 42px;
    position: relative;
    
    @media (max-width:1411px){
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__loading-window{
        position: absolute;
        inset: 0;
        background-color: white;
        z-index: 1;
        opacity: 1;
        transition: opacity 400ms ease 300ms;
        will-change: opacity;
        pointer-events: none;

        &--hidden{
            opacity: 0;
        }
    }
}

.section__left{
    max-width: 702px;
    width: stretch;
    border-top-right-radius: 160px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    padding-inline: clamp(16px, calc(0.0565 * 100vw - 5.2px), 40px);
    background-color: #8E70991A;
    position: relative;
    overflow: hidden;

    &__header{
        display: flex;
        align-items: flex-end;
        position: relative;

        &__btn{
            position: absolute;
            right: 64px;

            @media (min-width:901px){
                display: none;
            }
        }
    }
    
    &__info{
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 8px;
        margin-bottom: 40px;
    
        &__spans {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
    
            &__span{
                margin-right: 14px;

                @include mixins.font('Mulish', 16px, #35273A, 500);
            }
        }
    
        &__h1{
            margin: 0;
            @include mixins.font('Nerko One', clamp(48px, 2.82vw + 37.44px, 56px), #EE9236, 400);
    
            @media (max-width:952px){
                line-height: clamp(42px, 2.43vw + 32.9px, 56px);
            }
        }
    
        &__span{
            @include mixins.font("Mulish", 16px, #35273A, 500);
        }
    }
    
    &__questions{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 40px;
        margin-bottom: 24px;
        justify-content: space-between;
    
        @media (max-width:952px){
            flex-direction: column;
            align-items: center;
            flex-wrap: nowrap;
        }

        &__question{
            padding: 4px;

            &--error{
                box-shadow: inset 0 0 0 2px red;
            }
        }
    }

    &__footer{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 12px;
        margin-top: auto;

        &__error-message{
            opacity: 0;
            @include mixins.font("Mulish", 16px, red, 600);
    
            &--show{
                opacity: 1;
            }
        }

        &__btn-disable-body{
            position: relative;
            width: fit-content;
            align-self: flex-end;
            cursor: no-drop;

            &:hover{
                .section__left__footer__btn-disable-body__message-box {
                    display: flex;
                }
            }
    
            &__box{
                position: absolute;
                inset: 0;
                background-color: #80808054;
                border-radius: 10px;
            }

            &__message-box{
                display: none;
                position: absolute;
                top: -16px;
                padding: 12px;
                background-color: #b3b1b4;
                left: 190px;
                border-radius: 0px 8px 8px 0px;

                @media (max-width:480px) {
                    top: 44px;
                    left: 0px;
                    border-radius: 8px
                }
                
                &::after{
                    content: "";
                    width: 46.4px;
                    height: 46.4px;
                    rotate: 45deg;
                    position: absolute;
                    align-self: center;
                    left: -24px;
                    background-color: rgba(128, 128, 128, 0.5607843137);
                    border-radius: 0px 0px 0px 8px;
                    z-index: -1;

                    @media (max-width:480px) {
                        top: 2px;
                        left: 68px;
                        rotate: 135deg;
                        border-radius: 0px 0px 0px 2px;
                    }
                }

                &__span{
                    width: 22ch;
                    @include mixins.font("Nokora", 16px, #FEFDFF, 500);
                }
            }
        }
    }
}
    
.section__right{
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (min-width:1412px) {
        margin-top: 184px;
    }
    
    &--clsoe{
        opacity: 0;
    }
    
    &__h1{
        margin: 0;
        @include mixins.font('Nerko One', 32px, #221227, 400);
    
        &__span{
            color: #FFB770;
        }
    }
    
    &__results-box{
        display: flex;
        gap: 24px;
        flex-direction: column;
        width: 100%;
        max-width: 720px;
    
        @media (max-width:1411px){
            flex-direction: row;
            flex-wrap: wrap;
        }
        @media (max-width:952px){
            flex-direction: column;
            flex-wrap: nowrap;
        }
    }
    
    &__spans{
        display: flex;
        flex-direction: column;
        gap: 127px;
        margin-top: 8px;

        @media (min-width:1412px){
            margin-right: -10px;
        }
    
        &__span{
            @include mixins.font('Mulish', 18px, #35273A, 700);
    
            &--al-se-ce{
                align-self: center;
            }
        }
    }
}

.section__mobile{
    width: 100%;
    max-width: 800px;

    @media (min-width:1412px){
        display: none;
    }

    &__button{
        display: flex;
        align-items: center;
        align-self: start;
        border-radius: 6px;
        gap: 4px;
        padding: 4px 6px 4px 10px;
        width: fit-content;
        position: relative;
        cursor: pointer;
    
        &:hover{
            background-color: rgba(0, 0, 0, 0.02);
    
            >.section__mobile__button__img{
                background-image: url('/angular-projects/poll-app/assets/img/drop_down_arrow_black-hover.svg');
            }
        }
    
        &__empty-box{
            width: 93.36px;
            transition: 0.3s width ease-out;
    
            &--close{
                width: 108.58px;
            }
        }
        
        &__span{
            position: absolute;
            opacity: 0;
            transition: 0.3s opacity ease-out;
            width: 0;
            white-space: nowrap;
            @include mixins.font('Mulish', 18px, #35273A, 700);

            &--see, &--close{
                opacity: 1;
            }
        }
    
        &__img{
            transition: transform 0.3s ease-out;
            background-image: url('/angular-projects/poll-app/assets/img/drop_down_arrow_black.svg');
            height: 24px;
            aspect-ratio: 1 / 1;
    
            &--close{
                transform: rotate(-180deg);
            }
        }
    }
}

.overlay{
    display: flex;
    transition: transform 0.3s ease;
    transform: translateX(300px);
    position: absolute;
    bottom: 34px;
    right: 24px;
    border-radius: 5px 50px 5px 5px;
    background-color: #FEE9D4;
    padding: 16px 20px 16px 16px;
    box-shadow: 0px 0px 4px 0.25px black;

    @media (max-width:528px) {
        bottom: 64px;
    }

    @media (max-width:500px) {
        bottom: 9px;
    }

    &--show{
        transform: translateX(0px);

        @media (max-width:500px) {
            transform: translateX(13px);
        }
    }
 
    &__span{
        @include mixins.font('Nerko One', 20px, #35273A, 400);
    }
}