<section class="page">
    <div class="page__body">
        <header class="header">
            <div routerLink="" class="header__img-box">
                <img src="assets/img/logo-orange.svg" alt="icon">
            </div>
        </header>

        <section class="section__top">
            @if (!heroSwitch()) {
                <div class="section__top__h1-span-btn">
                    <h1 class="section__top__h1-span-btn__h1">Collect Feedback, Unlock Ideas</h1>
                    <span class="section__top__h1-span-btn__span">Create and share surveys in minutes – from team events to workplace culture. Collect opinions, engage your audience, and turn feedback into action.</span>
                    <app-primary-button routerLink="/create-question" [btnText]="'New survey'" [withIcon]="{'isWithIcon': true, 'icon': '⊕', 'iconWidth':24}"></app-primary-button>
                </div>
                <app-hero-image class="section__top__hero-img"></app-hero-image>
            }

            @else{
                <div class="section__top__h1-span-btn">
                    <h1 class="section__top__h1-span-btn__h1">Collect Feedback, Unlock Ideas</h1>
                    <app-hero-image class="section__top__hero-img"></app-hero-image>
                </div>
                <span class="section__top__h1-span-btn__span">Create and share surveys in minutes – from team events to workplace culture. Collect opinions, engage your audience, and turn feedback into action.</span>
                <app-primary-button routerLink="/create-question" [btnText]="'New survey'" [withIcon]="{'isWithIcon': true, 'icon': '⊕', 'iconWidth':24}"></app-primary-button>
            }

        </section>

        <section class="section__center">
            <h1 class="section__center__h1">Your surveys</h1>
            <span class="section__center__span">Ending soon surveys</span>
            <div class="section__center__highlights-cards">
                <div #highlightsCards class="section__center__highlights-cards__inner">
                    @for (item of threeEndNextList(); track item.id) {
                        <app-highlights-card [surveyId]="item.id" [highlightsCardText]="item.category" [highlightsCardH1]="item.name" [surveyStatus]="item.endDate"></app-highlights-card>
                    }
                </div>
            </div>
        </section>
        
        <section class="section__bottom">
            <div class="section__bottom__filters">
                <div class="section__bottom__filters__filter-btns">
                    <app-filter-button [active]="activeFilterBtn() == 'active_survey'" (click)="changeActive('active_survey')" [btnText]="'Active survey'"></app-filter-button>
                    <app-filter-button [active]="activeFilterBtn() == 'past_survey'" (click)="changeActive('past_survey')" [btnText]="'Past survey'"></app-filter-button>
                </div>
                <app-drop-down-menu [isPartOfMainPage]="true" (getSelectedMenu)="processDataSelectedMenu($event)" [dropDownText]="'Sort by categories'"></app-drop-down-menu>
            </div>

            <div class="section__bottom__survey-views">
                @for (item of filterList(); track item.id) {
                    <app-survey-view class="section__bottom__survey-views__app" [routerLink]="['/view-survey', item.id]" [viewSpan]="item.category" [viewH1]="item.name" [surveyStatus]="item.endDate"></app-survey-view>
                }
                @empty {
                    <div class="section__bottom__survey-views-empty">
                        <span class="section__bottom__survey-views-empty__span">No matching items found</span>
                    </div>
                }
            </div>
        </section>

        <app-footer [class.light_text_color]=true></app-footer>
    </div>
</section>