@use '../../shared/styles/abstracts/mixins';

.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #35273A;
    min-height: 100vh;
    position: relative;

    &__body{
        width: 100%;
        max-width: 1440px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 
        clamp(39px, calc(50.57px - 0.8036vw), 48px) 
        clamp(16px, 8.48vw - 11.1px, 111px)
        124px 
        clamp(16px, 8.48vw - 11.1px, 111px);

        
    }
}

.header{
    width: 100%;
    margin-bottom: clamp(54px, 3.39vw + 43.1px, 92px);

    &__img-box{
        width: fit-content;
        cursor: pointer;
    }
}

.section__top{
    display: flex;
    flex-direction: row;

    @media (max-width:1312px) {
        flex-direction: column;
        align-items: center;
    }
    
    &__h1-span-btn {
        display: flex;
        flex-direction: column;
        gap: 40px;

        @media (max-width:1312px) {
            gap: 24px;
            margin-bottom: 24px;
            align-items: center;
        }
    
        &__h1{
            margin: 0;
            @include mixins.font('Nerko One', clamp(62px, 3.39vw + 51.1px, 100px), #FFB770, 400);
            line-height: clamp(50px, 3.48vw + 38.9px, 89px);
        }
    
        &__span{
            @include mixins.font('Mulish', 24px, white, 600);
            width: calc(100% - 5ch);

            @media (max-width:1312px) {
                margin-bottom: 54px;
                width: auto;
            }
        }
    }
    
    &__hero-img{
        zoom: 0.85;

        @media (max-width:490px) {
            zoom: 0.8;
        }

        @media (max-width:460px) {
            zoom: 0.75;
        }

        @media (max-width:430px) {
            zoom: 0.7;
        }

        @media (max-width:401px) {
            zoom: 0.65;
        }

        @media (max-width:373px) {
            zoom: 0.6;
        }

        @media (max-width:344px) {
            zoom: 0.55;
        }
    }
}

.section__center{
    margin-top: clamp(80px, 0.89vw + 77.1px, 90px);
    display: flex;
    flex-direction: column;
    padding: 0 clamp(0px, 7vw - 22.3px, 78px);

    &__h1{
        margin: 0;
        @include mixins.font('Nerko One', clamp(54px, 1.61vw + 48.9px, 72px), #FFB770, 400);
        align-self: center;
        
         @media (max-width:343px) {
            line-height: 48px;
         }
    }

    &__span{
        margin-top: clamp(48px, 2.86vw + 38.9px, 80px);
        @include mixins.font('Mulish', clamp(24px, 0.71vw + 21.7px, 32px), white, 500);
        margin-bottom: clamp(16px, 1.43vw + 11.4px, 32px);
    }
    
    &__highlights-cards{
        overflow: hidden; 
        margin: 0 clamp(0px, 0.89vw - 2.9px, 10px);

        &__inner{
            display: flex;
            flex-direction: row;
            gap: clamp(16px, 1.43vw + 11.4px, 32px);
            touch-action: none;
            min-width: fit-content;
        }
    }
}

.section__bottom{
    margin-top: clamp(32px, calc(52.57px - 1.4286vw), 48px);
    display: flex;
    flex-direction: column;
    padding: 0 clamp(0px, 7vw - 22.3px, 78px);

    &__filters{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        gap: 40px 48px;

        &__filter-btns{
            display: flex;
            flex-direction: row;
            gap: 24px;
        }
    }

    &__survey-views{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        gap: 16px;
        height: 476px;
        overflow: auto;
        margin-right: -16px;

        &:has(.section__bottom__survey-views-empty){
            align-content: center;
            align-self: center;
        }
        
        @media (max-width:1388px) {
            margin-right: 0;
            width: min-content;
            align-self: center;
        }

        @-moz-document url-prefix() {
            scrollbar-width: thin;             
            scrollbar-color: #FFB770 #BABABA;
        }

        &::-webkit-scrollbar {
            width: 8px;
            border-radius: 10px;
            background: #BABABA;
        }
        
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background: #FFB770;
            box-shadow: 3px 3px 3.2px 0 #00000040;
        }

        &-empty{
            width: max-content;

            &__span{
                background-color: #ffffff3b;
                padding: 16px;
                border-radius: 16px;
                @include mixins.font("Mulish", 23px, white, 600);
            }
        }

        &__app{
            @media (max-width:1388px) {
                margin-right: 12px
            }
        }
    }
}